<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Lobster&family=PT+Serif:wght@700&family=Roboto:wght@300;900&family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Review a Movie</title>  
</head>

<body>
    <div class="title">
        <h2 class="welcome"><span class="pop">POP</span>MOVIE!</h2>
    </div>
    <div>
        
        
        <div>
            <ul>
                <li><a href="/dashboard" class="home">Home</a></li>
                <li><a href="/logout" class="logout_4">Logout</a></li>
            </ul>
        </div>
        <div>
        <img src="{{ movies.image }}" alt="logo" class="movie_com">
        
        {% if users.id in reviews | map(attribute="reviewer") %}
        {% else %}
        
        <form action="/movie/{{movies.id}}/review/create" method="POST" class="form-inline">
            
            <h2 class="comm_h2">Review Movie</h2>
            <input type="hidden" name="imdb" value="{{movies.id}}">
            <select name="rating" class="rating">
                <option selected>Star Rating</option>
                <option value="1">⭐️</option>
                <option value="2">⭐️⭐️</option>
                <option value="3">⭐️⭐️⭐️</option>
                <option value="4">⭐️⭐️⭐️⭐️</option>
                <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
            </select>

            <textarea name="comment" placeholder="Leave a review here..." class="review_box"></textarea>              
            <input type="submit" value="SUBMIT REVIEW" class="review_btn">
            <!-- <textarea type="text" id="txt" placeholder="Comment" name="txt" class="text_box"></textarea>
            <button type="submit">Submit</button> -->
        </form>
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="form-inline">
                    <h2 class="comm_h2">{{message}}</h2>
                </div>
                    
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="container">


            {% for review in reviews %}
            <table class="table_1">
                <tbody>
                    {% if review.imdb == movies.id %}
                    <tr>
                        <td class="td_comm_1">{{review.username}}</td>
                    </tr>
                    <tr>
                        <td class="td_comm">{{review.comment}}</td>
                    </tr>
                    <tr>
                        <td class="td_comm">
                            {% if review.rating == '5' %}
                            ⭐️⭐️⭐️⭐️⭐️
                            {% elif review.rating == '4' %}
                            ⭐️⭐️⭐️⭐️
                            {% elif review.rating == '3' %}
                            ⭐️⭐️⭐️
                            {% elif review.rating == '2' %}
                            ⭐️⭐️
                            {% else %}
                            ⭐️
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% if review.user_id == session.user_id %}
                            <a href="/delete/{{review.imdb}}/{{review.id}}" class="td_comm_2">Delete Review</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            {% endfor %}
        </div>

    </div>
</body>

</html>