* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgb(18, 18, 19), rgb(138, 133, 133));
    background-size: 100%;
    background-position: center;
}

.movie_kid {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 -6mm 4mm rgb(16, 110, 253));
}


img {
    width: 650px;
    margin-top: 100px;
}

.landing_h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titan One', cursive;
}


h1 {
    text-align: center;
    font-size: 7rem;
    margin-top: 10px;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titan One', cursive;
}

.title {
    font-size: 2rem;
    margin-top: 10px;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titan One', cursive; 
}
.pop {
    color: red;
}

.welcome {
    color: rgba(16, 110, 253, 100);
    margin-left: 10px;
}


.nav {
    display: flex;
    justify-content:flex-end;
    margin-right: 50px;
    padding: 50px;
}

.sign_in {
    color: white;
    background-color:rgb(11, 7, 7);
    border-radius: 3.75rem;
    width: 120px;
    height: 45px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
    background-image: linear-gradient(-180deg, #000000 0%, #000000 100%);
    box-shadow: 0 0rem 2rem 0 rgba(0,0,0,100),
                            0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
                            0 0.25rem 0.5rem 0 rgb(0, 0, 0) inset;
}

.register {
    color: white;
    background-color:rgb(11, 7, 7);
    border-radius: 3.75rem;
    width: 130px;
    height: 45px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(-180deg, #000000 0%, #000000 100%);
    box-shadow: 0 0rem 2rem 0 rgba(0,0,0,100),
                            0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
                            0 0.25rem 0.5rem 0 rgb(0, 0, 0) inset;
}

.login1 {
    backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 10px solid rgba(3, 3, 3, 0.18);
    width: 600px;
    height: 600px;
    margin: 10px auto;
    margin-top: 200px;
    transform: scale(1.4);
    transition: all 700ms ease;
}

.login1:hover {
    background-color: rgb(255, 4, 0, );
    box-shadow: 0 20px 50px 0 rgba(255, 4, 0, 100);
    transition: all 400ms ease;
}

.form {
    text-align: center;
    font-size: 1rem;
}

.form2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.login_input {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.input1 {
    border-radius: 10px;
    margin-right: 50px;
    align-items: center;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    margin: 10px;
    transition: all 400ms ease;
}

.input1:hover {
    transform: scale(1.03);
    transition: all 400ms ease;
}


.sign_in_button {
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 3.75rem;
    line-height: 1.5rem;
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
    background-image: linear-gradient(-180deg, #000000 0%, #000000 100%);
    box-shadow: 0 0rem 2rem 0 rgba(0,0,0,100),
                            0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
                            0 0.25rem 0.5rem 0 rgb(0, 0, 0) inset;
    }

.sign_in_button:active {
    transform: scale(.98);
}


.sign_up {
    text-decoration: none;
    color: white;
}

.sign_up1 {
    margin-top: 50px;
}

.login_page {
    margin-top: 10px;
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titan One', cursive;
}

.login {
    backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 10px solid rgba(3, 3, 3, 0.18);
    width: 600px;
    height: 800px;
    margin: 10px auto;
    margin-top: 180px;
    transform: scale(1.3);
    transition: all 700ms ease;
}

.login:hover {
    background-color: rgb(255, 4, 0, );
    box-shadow: 0 20px 50px 0 rgba(255, 4, 0, 100);
    transition: all 400ms ease;
}

.input3 {
    border-radius: 10px;
    margin-right: 50px;
    align-items: center;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    margin: 10px;
    transition: all 400ms ease;
}

.input3:hover {
    transform: scale(1.03);
    transition: all 400ms ease;
}

.form2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.sign_in_button2 {
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 3.75rem;
    line-height: 1.5rem;
    font-size: 30px;
    font-weight: 500;
    margin-top: 35px;
    background-image: linear-gradient(-180deg, #000000 0%, #000000 100%);
    box-shadow: 0 0rem 2rem 0 rgba(0,0,0,100),
                            0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
                            0 0.25rem 0.5rem 0 rgb(0, 0, 0) inset;
}

.sign_in_button_2:active {
    transform: scale(.98);
}

.back_btn {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    text-decoration: none;
    color: white;
}

.reg {
    margin-top: 10px;
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titan One', cursive;
}

.not_a_member {
    margin-top: 50px;
}

strong {
    color: white;
}

.valids {
    color: #ff0400;
}


/* dashboard css */

.head {
    position: sticky;
    top: 0;
    background-image:linear-gradient(to bottom right, white, rgb(66, 65, 65));
    height: 60px;
    font-size: 2rem;
}

.t_data {
    background-color: white;
    transition: all 1s ease;
    font-size: 1.5rem;
}

.t_data:hover {
    background-color: white;
    height: 5px;
    transform: scale(1.01);
    cursor: pointer;
}

.table {
    border-spacing: 0 20px;
    text-align: center;
    width: 100%;
    padding: 10px;
}


.nav {
    display: flex;
    justify-content:flex-end;
    margin-right: 100px;
}

.logout {
    color: white;
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 3.75rem;
    line-height: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    text-decoration: none;
    background-image: linear-gradient(-180deg, #000000 0%, #000000 100%);
    box-shadow: 0 0rem 1rem 0 rgba(0,0,0,100),
                            0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
                            0 0.25rem 0.5rem 0 rgb(0, 0, 0) inset;
    }

.logout:active {
    transform: scale(.98);
}

.dash_h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-top: 80px;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titan One', cursive;
}

.movie_dash {
    border-radius: 15px;
    box-shadow: 0 20px 50px 0 rgb(218, 212, 212);
    max-width: 90%;
    height:900px;
    margin: 10px auto;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(138, 133, 133));
    overflow-y: scroll;
}


.table {
    border-spacing: 0 20px;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.imdb_img {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 80px; */
    padding: 2px;
    margin: 2px;
}

td {
    font-size: 3rem;
}


.movie_dash::-webkit-scrollbar {
    width: 20px;               /* width of the entire scrollbar */
}

.movie_dash::-webkit-scrollbar-track {
    background: rgb(16, 110, 253, 100);
    border-radius: 20px;        /* color of the tracking area */
}

.movie_dash::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 4, 0,);  /* creates padding around scroll thumb */
}

.shadow {
    text-shadow: 0px 0px 8px rgb(173, 169, 169);
    text-align: center;
    margin-top: -110px;
    }

.user_welcome {
    font-size: 3rem;
}


.tickets {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, black, rgb(72, 69, 69),#ff0400, #106efd);
    box-shadow: 0 4px 15px 0 black;
    margin: 5px;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.tickets:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.tickets:focus {
    outline: none;
}

.details {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, black, rgb(72, 69, 69),#ff0400, #106efd);
    box-shadow: 0 4px 15px 0 black;
    margin: 20px;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.details:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.details:focus {
    outline: none;
}

.review {
    align-items:flex-end;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, black, rgb(72, 69, 69),#ff0400, #106efd);
    box-shadow: 0 4px 15px 0 black;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.review:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.review:focus {
    outline: none;
}

.movie_com {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    border-radius: 30px;
    /* margin-bottom: 200px; */
    margin-top: 0;
    box-shadow: 0 20px 50px 0 rgb(218, 212, 212);
}


.form-inline {
    display: flex;
    justify-content: center;
    /* flex-flow: row wrap; */
    align-items: center;
    margin-bottom: 50px;
}


.form-inline textarea select {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}


.form-inline button {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, black, rgb(72, 69, 69),#ff0400, #106efd);
    box-shadow: 0 4px 15px 0 black;
    margin: 20px;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.form-inline button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


@media (max-width: 800px) {
.form-inline textarea select {
    margin: 10px 0;
}

.form-inline {
    flex-direction: column;
    align-items: stretch;
    }
}


.comm_h2 {
    margin: 15px;
    color: white;
}

.rating {
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
    height: 50px;
}

.review_box {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 3px;
    border: 3px solid black;
    border-radius: 10px;
    height: 50px; 
}

.text_box {
    margin: 10px;
    min-height: 2rem;
    font-size: 14px;
}

.review_btn {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, black, rgb(72, 69, 69),#ff0400, #106efd);
    box-shadow: 0 4px 15px 0 black;
    margin: 20px;

    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; 
}

.review_btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.table_1 {
    border: 5px solid black;
    border-radius: 10px;
}

.td_comm {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.td_comm_1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.td_comm_2 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    text-decoration: none;
    border-radius: 10px;
}


.table_1 {
    width: 30%;
    height: 100%;
    object-fit:cover;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px;
    
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
}
.container {
    max-width:900px;
    max-height:350px;
    
    
    
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    
}
.container:hover .table_1 {
    opacity:0.3;
}
.container .table_1:hover {
    transform:perspective(800px)       rotateY(0deg);
    opacity:1;
}

.table_1 {
    font-size: 1.5rem;
    font-weight: 200;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, black, rgb(72, 69, 69),#ff0400, #106efd);
    box-shadow: 0 4px 15px 0 black;
    margin: 20px;

    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.table_1:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin: 10px;
}

.home, .logout_4 {
    padding: 10px;
    text-decoration: none;
}

.logout_4, .home {
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3.75rem;
    line-height: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    background-image: linear-gradient(-180deg, #000000 0%, #000000 100%);
    box-shadow: 0 0rem 1rem 0 rgba(0,0,0,100),
                            0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
                            0 0.25rem 0.5rem 0 rgb(0, 0, 0) inset;
    }

.logout_4:active {
    transform: scale(.98);
}

.home:active {
    transform: scale(.98);
}

.home {
    margin: 20px;
}
